@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,200;0,400;0,600;1,300;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base {
  body {
    background-color: #0c0c0c;
    color: #dcca87;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: 'Cormorant Upright';
    /* font-weight: 700; */
  }

  h1 {
    font-size: 2.5rem;
  }
}

@layer components {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }

  @media (min-width: 992px) {
    .container {
      width: 992px;
    }
  }

  @media (min-width: 1200px) {
    .container {
      width: 1200px;
    }
  }
}
